---
layout: default
---
{% assign name = page.id | replace:"/","" %}

{% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

<div class="item-header clearfix">
  {% include icon.html name=name %}
  {% if page.title %}<h1><strong>{{ page.title }}</strong></h1>{% endif %}
  {% if page.excerpt %}<h4>{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</h4>{% endif %}
</div>

<div class="item-download row">
  {% if page.download-oculus %}
    <div class="col-sm-4 clearfix">
    {% if page.market-oculus %}
      <a href="https://sidequestvr.com/app/{{ page.market-oculus[0] }}">
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=110x110&amp;chl=https://sidequestvr.com/app/{{ page.market-oculus[0] }}">
      </a>
      <br />SideQuest<br /><strong>Version {{ page.market-oculus[1] }}</strong>
    {% endif %}
    {% if page.download-oculus %}
      <br><a class="btn btn-md btn-primary" href="{{ page.download-oculus[0] }}">Oculus Quest version {{ page.download-oculus[1] }}</a>
    {% endif %}
    </div>
  {% endif %}

  {% if page.market-android or page.download-android %}
    <div class="col-sm-4 clearfix">
    {% if page.market-android %}
      <a href="https://play.google.com/store/apps/details?id={{ page.market-android[0] }}">
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=110x110&amp;chl=market://search?q=pname:{{ page.market-android[0] }}">
      </a>
      <br />Android Market<br /><strong>Version {{ page.market-android[1] }}</strong>
    {% endif %}
    {% if page.download-android %}
      <br><a class="btn btn-md btn-primary" href="{{ page.download-android[0] }}">Android version {{ page.download-android[1] }}</a>
    {% endif %}
    </div>
  {% endif %}

  {% if page.market-appstore or page.download-appstore %}
    <div class="col-sm-4 clearfix">
    {% if page.market-appstore %}
      <a href="https://apps.apple.com/app/id{{ page.market-appstore[0] }}">
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=110x110&amp;chl=https://apps.apple.com/app/id{{ page.market-appstore[0] }}">
      </a>
      <br />App Store<br /><strong>Version {{ page.market-appstore[1] }}</strong>
    {% endif %}
    {% if page.download-appstore %}
      <br><a class="btn btn-md btn-primary" href="{{ page.download-appstore[0] }}">macOS version {{ page.download-appstore[1] }}</a>
    {% endif %}
    </div>
  {% endif %}

  {% if page.market-blackberry or page.download-blackberry %}
    <div class="col-sm-4 clearfix">
    {% if page.market-blackberry %}
      <a href="https://appworld.blackberry.com/webstore/content/{{ page.market-blackberry[0] }}">
        <img height="110px" style="padding:9px;" src="https://appworld.blackberry.com/webstore/servedimages/{{ page.market-blackberry[0] }}/?t=13">
      </a>
      <br />BlackBerry World<br /><strong>Version {{ page.market-blackberry[1] }}</strong>
    {% endif %}
    {% if page.download-blackberry %}
      <br><a class="btn btn-md btn-primary" href="{{ page.download-blackberry[0] }}">BlackBerry version {{ page.download-blackberry[1] }}</a>
    {% endif %}
    </div>
  {% endif %}
</div>

{% if page.source %}
  <p>
    This project is open-source and provided under {{ page.source[1] }} licence.
    Source code is available at: <a href="{{ page.source[0] }}">Github</a>
  </p>
{% endif %}

{% include gallery.html name=name %}

{{ content }}

<h3><a href="#privacy-policy">Privacy Policy:</a></h3>

We don't collect any personal data from our game and applications.<br>
If you have any questions please don't hesitate to contact us: <a href="mailto:{{name}}@drodin.com">{{name}}@drodin.com</a>
