---
layout: default
---
{% assign name = page.id | replace:"/","" %}

{% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
{% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

<div class="item-header clearfix">
  {% include icon.html name=name %}
  {% if page.title %}<h1><strong>{{ page.title }}</strong></h1>{% endif %}
  {% if page.excerpt %}<h4>{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</h4>{% endif %}
</div>

<div class="row">
  {% if page.market-appstore %}
    <div class="market col-sm-3">
      <a href="https://apps.apple.com/app/id{{ page.market-appstore[0] }}">
        <div class="clearfix">
          <img class="market-icon" src="/assets/images/appstore_logo.png">
          <span>
            <b>App Store</b><br />
            <i>Version {{ page.market-appstore[1] }}</i>
          </span>
        </div>
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=120x120&amp;chl=https://apps.apple.com/app/id{{ page.market-appstore[0] }}">
      </a>
    </div>
  {% endif %}

  {% if page.market-android %}
    <div class="market col-sm-3">
      <a href="https://play.google.com/store/apps/details?id={{ page.market-android[0] }}">
        <div class="clearfix">
          <img class="market-icon" src="/assets/images/googleplay_logo.png">
          <span>
            <b>Google Play</b><br />
            <i>Version {{ page.market-android[1] }}</i>
          </span>
        </div>
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=120x120&amp;chl=market://search?q=pname:{{ page.market-android[0] }}">
      </a>
  </div>
  {% endif %}

  {% if page.market-oculus %}
    <div class="market col-sm-3">
      <a href="https://www.oculus.com/experiences/quest/{{ page.market-oculus[0] }}">
        <div class="clearfix">
          <img class="market-icon" src="/assets/images/oculus_logo.png">
          <span>
            <b>Oculus App Lab</b><br />
            <i>Version {{ page.market-oculus[1] }}</i>
          </span>
        </div>
        <img src="https://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;chs=120x120&amp;chl=https://www.oculus.com/experiences/quest/{{ page.market-oculus[0] }}">
      </a>
    </div>
  {% endif %}

  <div class="download col-sm-3">
    <div class="clearfix">
      <b>Direct Download:</b><br />
      <i>&nbsp;</i><br />
    </div>
    {% if page.download-appstore %}
      <a class="btn btn-md btn-primary" href="{{ page.download-appstore[0] }}">
        <b>macOS</b> <i>Version {{ page.download-appstore[1] }}</i>
      </a>
    {% endif %}

    {% if page.download-android %}
      <a class="btn btn-md btn-primary" href="{{ page.download-android[0] }}">
        <b>Android</b> <i>Version {{ page.download-android[1] }}</i>
      </a>
    {% endif %}

    {% if page.download-oculus %}
      <a class="btn btn-md btn-primary" href="{{ page.download-oculus[0] }}">
        <b>Oculus Quest</b> <i>Version {{ page.download-oculus[1] }}</i>
      </a>
    {% endif %}

    {% if page.download-blackberry %}
      <a class="btn btn-md btn-primary" href="{{ page.download-blackberry[0] }}">
        <b>BlackBerry</b> <i>Version {{ page.download-blackberry[1] }}</i>
      </a>
    {% endif %}
  </div>
</div>

{% if page.source %}
  <p>
    This project is open-source and provided under {{ page.source[1] }} licence.
    Source code is available at: <a href="{{ page.source[0] }}">Github</a>
  </p>
{% endif %}

{% include gallery.html name=name %}

{{ content }}

<h3><a href="#privacy-policy">Privacy Policy:</a></h3>

We don't collect any personal data from our game and applications.<br>
If you have any questions please don't hesitate to contact us: <a href="mailto:support+{{name}}@drodin.com">support+{{name}}@drodin.com</a>
